{% extends 'base.html' %}

{% block content %}
  <h2>Iniciar sesión</h2>
  {% if form.errors %}
    <p style="color: red">El usuario y la contraseña no coinciden.</p>
  {% endif %}
  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <form action= "{% url 'sign_in' %}"method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: rgb(61, 60, 60)">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Iniciar Sesión</button>
    <a href="{% url 'sign_up' %}">Regístrate</a>
  </form>
{% endblock %}